html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


/*Main section*/
.main, .main02, .main03, .main04 {
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
}

.main02 {
    background-color: lightgray;
}

.main03 {
    background-color: green;
}

.main04 {
    background-color: lightblue;
}

/*end of main section*/

/*CSS of MENU across the website*/
#menu {
    position: fixed;
    z-index: 2;
    margin-right: 5%;
    right: 0;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}

#menu ul li {
    float: left;
}

#menu ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 5px 10px;
    margin: 20px 10px 0px;
    text-decoration: none;
    font-size: 12px;
    font-weight: lighter;
    border-radius: 20px;
}

#menu ul li a:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
/*End of MENU section*/

/* Footer section */

.footer {
    display: flex;
    margin: auto 5%;
    background-color: rgba(0,0,0,0.2);
    flex-direction: row;
    flex-wrap: wrap;
}

.footer .contact_container {
    flex: 2;
    margin: 40px;
    min-width: 300px;
}

.footer .contact_container address {
    font-size: 15px;
}

/*End of footer section*/


/* Social midia icons section*/

.nav .nav-item {
    margin-right: 50px;
}

.nav .nav-item a {
    color: white;
}

.facebook {
    background: #4f5fff;
    border: 0px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    cursor: pointer; 
}

.instagram {
    background: red;
    border: 0px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}


/* End of social media icons section*/

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    #menu ul {
        margin-left: 0px;
    }

    #menu ul li a {
        margin: 20px 0px 0px;
        padding: 5px 5px;
    }

    .footer {
        width: 100%;
        margin: 0;
    }

    .facebook {
        padding: 4px 0 0 4px;  
    }

    .instagram {
        padding: 2px 0 0 2px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}